.pageLayout {
  gap: 1rem;
  display: flex;
  padding: 1em;
  min-height: 100%;
  position: relative;

  .header {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background: transparent;
    border-bottom: 1px solid #f0f0f0;
  }

  nz-content:not(.noBorder) {
    border: 1px solid #f0f0f0;
    // position: absolute;
    // left: 0;
    // padding: inherit;
    // right: 0;
    // top: 0;
    // bottom: 0;
    // display: inline-grid;
  }

  nz-sider:not(.noBorder) {
    border: 1px solid #f0f0f0;

    @media (max-width: $screen-md) {
      display: none;

      &::after {
        content: "X";
      }
    }
  }
}

.exp-layout {
  gap: 1rem;
  display: flex;
  padding: 1em;
  min-height: 100%;

  .header,
  .ant-card-head {
    position: sticky;
    top: 0;
    z-index: 99;
    background: #ffffff;
  }

  .header {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid #f0f0f0;

    .header-trigger {
      display: none;
    }

    .header-item {
      display: flex;
      align-items: center;
    }

    @media (max-width: $screen-sm) {
      .header-trigger {
        display: flex;
        align-items: center;
      }

      .header-item {
        display: none;
      }
    }
  }

  .files-container {
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    display: flex;
    flex-direction: column;

    .content {
      flex: auto;
    }
  }
}

.d-c-grid {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
}

.d-flex {
  display: flex;
  gap: 0.5em;

  &.d-flex-sb {
    justify-content: space-between;
  }

  &.flex-c {
    flex-direction: column;
  }
}
