$primary: #337ab7;
$secondary: #6c757d;
$success: #5cb85c;
$danger: #d9534f;
$warning: #f0ad4e;
$info: #5bc0de;
$light: #f8f9fa;
$dark: #212529;
$muted: #6c757d;
$white: #fff;
$border-color: #e6e6e6;
$border-light-color: #e5ecf7;

$box-shadow-color: rgba(#000000, 0.1);
$box-shadow-color-2: rgba(#000000, 0.2);

//colors
.primary-color {
  color: $primary !important;
}
.secondary-color {
  color: $secondary !important;
}
.success-color {
  color: $success !important;
}
.danger-color {
  color: $danger !important;
}
.warning-color {
  color: $warning !important;
}
.info-color {
  color: $info !important;
}
.light-color {
  color: $light !important;
}
.dark-color {
  color: $dark !important;
}
.white-color {
  color: $white !important;
}
.muted-color {
  color: $muted !important;
}

//backgrounds

.bg-primary {
  background-color: $primary !important;
}
.bg-secondary {
  background-color: $secondary !important;
}
.bg-success {
  background-color: $success !important;
}
.bg-danger {
  background-color: $danger !important;
}
.bg-warning {
  background-color: $warning !important;
}
.bg-info {
  background-color: $info !important;
}
.bg-light {
  background-color: $light !important;
}
.bg-dark {
  background-color: $dark !important;
}
.bg-white {
  background-color: $white !important;
}
