.flex-c,
.flex-c-between,
.flex-r,
.flex-r-between,
.flex-col-l-m {
  display: flex;
}

// flex column
.flex-c,
.flex-c-between,
.flex-col-l-m {
  flex-direction: column;
}

.flex-c-between {
  justify-content: space-between;
}

.flex-col-l-m {
  align-items: flex-start;
  justify-content: center;
}

// flex row
.flex-r,
.flex-r-between {
  flex-direction: row;
}

.flex-r-between {
  justify-content: space-between;
}
