// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

$ff-normal: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";

$ff-ss: "ui-sans-serif";
$ff-poppins: "Poppins", sans-serif;

$fw-normal: 400;
$fw-bold: 900;

$fs-sm: 0.475rem;
$fs-md: 0.875rem;
$fs-lg: 1.475rem;
$fs-xlg: 2.475rem;

.ff-normal {
  font-family: $ff-normal;
}

.ff-ss {
  font-family: $ff-ss;
}

.ff-poppins {
  font-family: $ff-poppins;
}

.uppercase {
  text-transform: uppercase;
}
