@import "/assets/scss/main";

#root {
  height: 100%;
  overflow: hidden;
}

.anticon {
  &:hover,
  &:focus {
    color: $primary;
  }
}

.tabs-border-none {
  .ant-tabs-nav::before {
    border: none;
  }
}
